[Unit]
Description=CP App
[Service]
WirjubgDirectory=/home/ubuntu
ExecStart=/usr/lib/jvm/java-8-openjdk-amd64/bin/java -jar /home/ubuntu/CodigoPostal-0.0.1-SNAPSHOT.jar
Type=simple
User=ubuntu
[Install]
WantedBy=multi-user.target
